<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <h1>Name :- Rushi Patel</h1>
        <h1>Student ID :- N01539145</h1>
    </header>
    <div class="content">
        {{{body}}}
    </div>
    <footer>
        <p>Email: n01539145@humber.ca</p>
    </footer>
  </body>
</html>