<!DOCTYPE html>
<html>
<head>
  <title>Fetch Invoice by ID</title>
</head>
<body>
  <h1>Fetch Invoice by ID</h1>
    <form method="POST" action="/search/invoiceID/result">
        <label for="invoiceID">Invoice ID:</label>
        <input type="text" name="invoiceID" id="invoiceID" required>
        <button type="submit">Fetch Invoice</button>
  </form>
</body>
</html>
